/* footer */
.contact {
  margin: 0 auto;
  text-align: center;
}

.contact__list {
  padding-top: 38px;
}

.contact__content-list-link {
  margin-bottom: 20px;
  @include font(18px, 37px, 600);
  letter-spacing: 0.9px;
  text-decoration: none;
  color: #111517;
}

/*
.contact__content-list-link:nth-child(1) {
    background-image: url("/images/icons/call.png")
  }
  
  .contact__content-list-link::before {
    background-image: url("/images/icons/call.png");
  }
*/
.contact__logo {
  display: inline;
  @include font(15px, 80px, 800);
  letter-spacing: 0.75px;
}

.img_fire {
  width: 15px;
  height: 22px;
}

.contact__logo-text {
  @include font(9px, 29px, 700);
  letter-spacing: 0.65px;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.contact__list-link-instagram {
  background-image: url("/images/icons/instagram.png");
}

.contact__orange-text {
  color: $accent-color;
}

.contact__from-description {
  @include font(11px, 37px, 500);
  letter-spacing: 0.55px;
  color: #fdfefe;
  background-color: rgb(17, 21, 23);
  text-align: center;
  height: 72px;
}
