.header {
  background-image: url('../images/mobile-img/header-bg-down.png');
  padding-bottom: 40px;

  &__top-menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 38px;
    margin-bottom: 60px;
  }

  &__list-item-btn {
    background-color: #000000;
    width: 25px;
    height: 2px;
    display: block;
    margin-bottom: 2px;
  }

  &__burder-menu {
    cursor: pointer;
  }

  &__ul {
    display: none;
  }

  &__link {
    display: none;

    &--burger {
      margin: 0 auto;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 700;
      color: $accent-color;
      border-width: 1.5px;
      border-color: $accent-color;
      border-style: solid;
      width: 247px;
      height: 45px;
      display: flex;
      letter-spacing: 1px;
      justify-content: center;
      align-items: center;
    }
  }

  &__h1 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 29px;
    margin-bottom: 40px;
  }

  &__p {
    color: rgba(0, 0, 0, 0.3);
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 40px;

    &-span {
      display: block;
      color: black;
      font-weight: 700;

      &-span {
        color: $accent-color;
        font-weight: 700;
      }
    }
  }

  &__a {
    display: block;
    text-align: center;
    text-transform: uppercase;
    width: 250px;
    font-size: 11px;
    line-height: 48px;
    color: #ffffff;
    height: 48px;
    margin: 0 auto;
    background-color: $accent-color;
    font-weight: 700;
    margin-bottom: 36px;
  }

  &__main-icon-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    width: 220px;
  }

  &__block-list {
    margin-bottom: 86px;
  }
}

.nav-burger-menu__ul {
  margin-bottom: 50px;
}

.logo_svg {
  height: 30px;
  width: 30px;
  transform: translateY(8px);
  fill: $accent-color;
}
.logo_svg-first-part {
  font-size: 15px;
  font-weight: 800;
  color: #000000;
}
.logo_svg-second-part {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 7.6px;
  color: #000000;
}

.logo_svg-second-part-first-word {
  color: $accent-color;
}

.header-icon-position {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-female_student,
.icon-insurance {
  width: 30px;
  height: 36px;
  fill: $accent-color;
  transform: translateY(5px);
}
.icon-mobile_learning {
  height: 34px;
  width: 34px;
  fill: $accent-color;
  transform: translate(-3px, 9px);
}
.icon-wrapper {
  height: 60px;
  width: 60px;
  border-width: 1.5px;
  border-color: $accent-color;
  border-style: solid;
  padding: 7px 13px 7px 13px;
  margin-right: 20px;
}

.icon-description {
  line-height: 20px;
  width: 170px;
  font-family: $main-font;
  font-weight: 800;
  font-size: 13px;
  letter-spacing: 0.5px;
}

.burder-close-icon {
  height: 23px;
  width: 23px;
  fill: #ffffff;
  transform: translateY(8px);
}

.flex-burger-menu-logo {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 35px;
  margin-bottom: 45px;
}

.logo_svg-first-part-burger {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
}

.logo_svg-second-part-burger {
  color: #ffffff;
  font-weight: 700;
}

.nav-burger-menu__li a {
  color: white;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 2px;
}

.nav-burger-menu__li {
  margin-bottom: 15px;
  width: 350px;
}

.nav-burger-menu__li a:hover {
  color: $accent-color;
}

.bd-modal-burger {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

@media (min-width: 768px) {
  .header {
    background-image: url('../images/mobile-img/header-bg-down768.png');
    background-repeat: no-repeat;
    padding-bottom: 54px;

    &__link {
      display: inline;
      margin-right: 70px;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 700;
      color: $accent-color;
      border-width: 1.5px;
      border-color: $accent-color;
      border-style: solid;
      width: 247px;
      height: 45px;
      display: flex;
      letter-spacing: 1px;
      justify-content: center;
      align-items: center;
    }

    &__link-burger {
      display: none;
    }

    &__burder-menu {
      display: flex;
      align-items: center;
    }

    &__block-list {
      display: flex;
      justify-content: space-between;
      margin-bottom: 120px;
    }

    &__a {
      margin: 0;
    }

    &__h1 {
      font-size: 25px;
      width: 300px;
    }

    &__ul {
      display: none;
    }
  }

  .nav-burger-menu__ul {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 40px;

    a {
      font-size: 25px;
    }
  }

  .icon-description {
    width: 140px;
  }

  .header-icon-position {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo_svg-first-part {
    font-size: 25px;
  }

  .logo_svg-second-part {
    font-size: 10.5px;
  }
}

@media (min-width: 1280px) {
  .header {
    background-image: url('../images/mobile-img/header-bg-down1280.png');
    background-repeat: no-repeat;

    &__burder-menu-span {
      display: none;
    }

    &__link {
      margin-right: 0px;
      width: 300px;
      height: 68px;
      font-size: 12px;
    }

    &__ul {
      display: flex;
      width: 600px;
      margin-right: 44px;
      justify-content: space-between;

      &-li > a {
        text-transform: uppercase;
        color: $third-text-color;
        font-size: 12px;
        font-weight: 700;
      }

      a:hover {
        color: $accent-color;
      }
    }

    &__h1 {
      font-size: 48px;
      width: 500px;
      line-height: 58px;
    }

    &__p {
      font-size: 18px;
    }

    &__main-icon-wrapper {
      width: 400px;
      align-items: center;
    }
  }

  .header-icon-position {
    justify-content: space-around;
  }

  .icon-wrapper {
    width: 70px;
    height: 70px;
    border-width: 1.3px;
    border-color: $accent-color;
    border-style: solid;
    padding: 10px 16px;
    margin-right: 0px;
  }

  .icon-female_student,
  .icon-insurance {
    width: 39px;
    height: 45px;
  }

  .icon-mobile_learning {
    height: 44px;
    width: 45px;
    transform: translate(-7px, 8px);
  }

  .icon-description {
    width: 210px;
    background-color: #ffffff;
    height: 40px;
    letter-spacing: 0.5px;
    transform: translateX(-10px);
  }
}

@media (min-width: 1680px) {
  .icon-mobile_learning {
    height: 44px;
    width: 45px;
  }
}
