.problems {
  background-color: $main-bgrnd-color;
  height: 518px;
  padding-top: 50px;

  @media (min-width: 768px) {
    height: 333px;
    padding-top: 66px;
    background-image: url(../images/fire_bgrnd.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: 1280px) {
    padding-top: 78px;
    height: 525px;
    background-image: url(../images/fire_bgrnd_1280.png);
  }

  @media (min-width: 1680px) {
    padding-top: 120px;
    height: 560px;
    background-image: url(../images/fire_bgrnd_1680.png);
  }

  &__title {
    @include font(20px, 30px, 800);

    color: $secondary-text-color;
    letter-spacing: 1px;
    padding: 0 20px 325px 0;

    @media (min-width: 768px) {
      @include font(26px, 33px, 800);

      width: 500px;
      letter-spacing: 1.3px;
    }

    @media (min-width: 1280px) {
      @include font(42px, 56px, 800);

      width: 800px;
      letter-spacing: 2.1px;
    }

    @media (min-width: 1680px) {
      @include font(46px, 62px, 800);

      width: 860px;
      letter-spacing: 2.3px;
    }

    .br {
      display: block;
    }

    .orange {
      color: $accent-color;
    }
  }

  .list-wrapper {
    position: relative;
  }

  &__list {
    position: absolute;
    top: 160px;
    width: 100%;
    padding: 15px 30px 32px;
    background-color: $secondary-text-color;
    box-shadow: 4px 6.928px 15.54px 5.46px rgba(29, 29, 27, 0.04);

    @media (min-width: 768px) {
      top: 124px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 30px 60px 40px 110px;
    }

    @media (min-width: 1280px) {
      top: 222px;
      padding: 50px 80px 52px 100px;
    }

    @media (min-width: 1680px) {
      top: 236px;
      padding: 70px 100px 76px;
    }
  }

  &__item {
    margin: 0 auto 12px;
    font-weight: 700;

    @media (min-width: 768px) {
      width: 230px;
      margin: 0;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
      &:nth-last-child(n + 3) {
        margin-bottom: 18px;
      }
    }

    @media (min-width: 1280px) {
      width: 270px;
    }

    @media (min-width: 1280px) and (max-width: 1679px) {
      &:nth-last-child(n + 4) {
        margin-bottom: 18px;
      }
    }

    @media (min-width: 1680px) {
      width: 340px;

      &:nth-last-child(n + 4) {
        margin-bottom: 44px;
      }
    }

    &--number {
      @include font(14px, 29px);

      position: relative;
      padding-left: 35px;
      letter-spacing: 0.7px;
      color: $accent-color;

      &::before {
        position: absolute;
        top: 13px;
        left: 0;
        display: block;
        width: 25px;
        height: 2px;
        background-color: $accent-color;
        content: '';

        @media (min-width: 1280px) {
          top: 15px;
        }
      }

      @media (min-width: 1280px) {
        @include font(21px, 29px);

        letter-spacing: 1.05px;
        margin-bottom: 14px;
      }

      @media (min-width: 1680px) {
        margin-bottom: 20px;
      }
    }

    &--problem {
      @include font(13px, 20px);

      letter-spacing: 0.65px;

      @media (min-width: 1280px) {
        @include font(18px, 29px);
        letter-spacing: 0.9px;
      }

      @media (min-width: 1280px) {
        @include font(21px, 29px);

        letter-spacing: 1.05px;
      }
    }
  }
}
