.teacher {
  font-family: $main-font;
  margin-bottom: 30px;

  &__card--title {
    @include font(20px, 30px, 900);
    margin-bottom: 30px;
  }

  &__card--photo {
    width: 100%;
    height: 216px;
    overflow: hidden;
  }

  &__info {

    &--name {
      @include font(16px, 30px, 900);
      padding-top: 20px;
      margin-bottom: 10px;

      &::after {
        content: '';
        display: block;
        position: relative;
        background-color: $third-text-color;
        width: 100%;
        height: 1px;
        margin-top: 10px;
      }
    }

    &-item {
      margin-bottom: 20px;

      &--text::before {
        content: '';
        display: block;
        width: 30px;
        height: 20px;
        float: left;
        background-image: url(../images/icons/icon-check.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }

    &--achievments {
      @include font(13px, 16px, 900);

      &::after {
        content: '';
        background-color: $accent-color;
        width: 25px;
        height: 2px;
        position: absolute;
      }
    }

    &_text {
      padding-top: 20px;
      @include font(11px, 19px, 400);
      color: rgb(133, 133, 133);

      &--link {
        color: $accent-color;
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 767px) {
  .teacher {
    padding-top: 130px;
  }
}

@media (min-width: 768px) {
  .teacher__box {
    display: flex;
    justify-content: space-between;
  }

  .teacher__info--name {
    padding-top: 0;
  }

  .teacher__card--photo {
    width: 246px;
    height: 322px;
    margin-right: 40px;
  }

  .teacher__card--title {
    @include font(26px, 62px, 900);
    margin-bottom: 30px;
  }
  
}

@media (min-width: 1280px) {
  .teacher__card--title {
    @include font(42px, 62px, 900);
    margin-bottom: 30px;
  }

  .teacher__info--name {
    @include font(30px, 30px, 900);
    background-color: #fefefe;
    margin-bottom: 40px;
  }

  .teacher__info--achievments {
    @include font(16px, 28px, 700);
    margin-bottom: 30px;
  }

  .teacher__info_text {
    padding-top: 40px;
    @include font(18px, 32px, 400);
    margin-bottom: 30px;
  }

  .teacher__card--photo {
    width: 492px;
    height: 646px;
    margin-right: 40px;
  }
}
