.teacher{
    font-family: $main-font;
}

.teacher_card--title{
    @include font(20px,30px,900);
    margin-bottom: 30px;
    background-color: #fefefe;
}

.teacher_card_photo{
    width: 100%;
    height: 216px;
    overflow: hidden; 
}

.teacher_info--name{
    @include font(16px,30px,900);
    background-color: #fefefe;
    padding-top: 20px;
    margin-bottom: 20px;
}

.teacher_info--name::after{
    content: '';
    display: block;
    position: relative;
    background-color: $third-text-color;
    width: 100%;
    height: 1px; 
}

.teacher_info_list--topic{
    margin-bottom: 20px;
}

.teacher_info_list--text::before{
    content: '';
    display: inline-block;
    width: 40px;
    height: 30px;
    background-image: url(../images/icons/check.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



