$accent-color: #ff6b08;
$main-font: 'Montserrat', sans-serif;
$main-text-color: #18191d;
$secondary-text-color: #ffffff;
$third-text-color: #b9b9b9;
$main-bgrnd-color: #111517;
$secondary-bgrnd-color: #f1f1f1;
